

.App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: '../asset/landing.jpg'
}

.landing{
  position: relative;
  width: 100%;
  height: 100vh;
}

.landing_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.landing_title {
 position: absolute;
 bottom: 20%;
 right: 25%;
 color: white;
 /* opacity: 0.9; */
 font-size: 6rem;
 font-weight: bold;
 font-family: 'Qwitcher Grypen', cursive;
 padding: 15px;
}

/* .landing_searchbar {
  position: absolute;
  bottom: 45%;
  right: 30%;
  color: white;
  font-size: 3rem;
  padding: 10px;
 } */
/* styling for search bar */
 .search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: white;
  border-right: none;
  padding: 5px;
  height: 45px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 1.7rem;
  opacity: 0.4;
}

.searchButton {
  width: 40px;
  height: 45px;
  border: 1px white;
  /* background: white; */
  text-align: center;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: black;
}

#park-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
}
/* styling for slider */
.slider {
  display: flex;
  align-items: center;
  margin: 20px;

  opacity: 0;
  transform: scale(85%);
  transition: 2s;
}

.slider--zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 2s;
}

.slider__image {
  width: 60%;
}

.slider__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.slider__title {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .slider {
    flex-direction: column;
    background-color: rgb(236, 236, 236);
  }

  .slider__image {
    width: 100%;
  }
}

/* styling for header */

.navbar {
  position: sticky;
  top: 0px;
  height: 70px;
  background-color: black;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  margin-bottom: -70px;
  z-index: 5;
}

.navbar__logo {
  color: white;
  /* font-weight: bold; */
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}

/*
  This is the container for all the navbar links ( <ul> )
  */
.navbar__list {
  display: flex;
  list-style: none;
  align-items: center;
}

/*
  This is a single item ( <li> ) in the list
  */
.navbar__item {
  white-space: nowrap;

}

/*
  The anchor tag ( <a> ) for the navbar links
  */
.navbar__link {
  font-size: 0.85rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  margin: 0px 5px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: transparent;
  transition: 250ms;
}

.navbar__link:hover {
  border-color: white;
  transition: 250ms;
}

.navbar__menu {
  color: white;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 300px;
    position: absolute;
    transition: all 0.5s ease;
  }

  .navbar__list--active {
    left: 0;
  }

  .navbar__menu {
    display: block;
  }

  .navbar__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    flex: 1;
  }

  .navbar__link {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-width: 0px;
    background-color: black;
    opacity: 0.75;
  }

  @media screen and (max-width: 800px) {
  .navbar__logo {
    color: white;
    /* font-weight: bold; */
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
  }
}

  .navbar__link:hover {
    border-width: 0px;
    opacity: 0.9;
  }
}

#currenttabs .ant-collapse {
  height:70;
  background-color: white;
  margin:0;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 5px lightgrey;
  transition: 0.4s ease-in-out;

}

#currenttabs .ant-collapse .ant-collapse-header {
  font-size: 13px !important;
}

#currenttabs .ant-collapse-content {
  border: none;
  font-size: 13px;
  font-weight: 400;
  width:100%;
}