.ant-modal {

    /* width: 280px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
    position: relative;
    overflow: hidden; */
  
  }
  
  #logintab .ant-collapse .ant-collapse-header {
    font-size: 13px !important;
  }
  
  #logintab .ant-collapse-content {
    border: none;
    font-size: 13px;
    font-weight: 400;
    width:100%;
  }