
<h1>Welcome to Nationalparkadventures.com, <%= @user.username %></h1>
  <p>
    You have successfully signed up to Nationalparkadventures.com,
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>